@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  background-color: black;
}
.main-container{
  margin: auto;
  width: 90vw;
}
/* draw section line */
.section-line {
  background-color: rgba(128, 128, 128, 0.28);
  height: 7px;
  width: 100%;
  margin: 11vh 0px;
}
.hero-section {
  background-image: url("assets/images/bgImageSignUpPage.jpg");
  height: 90vh;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}
.box {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 90vh;
  z-index: 3;
  position: absolute;
}

.navbar {
  display: flex;
  max-width: 70vw;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.navbar img {
  width: 148px;
  position: relative;
  z-index: 3;
}
.btn {
  width: 122px;
  position: relative;
  z-index: 3;
  font-size: 17px;
  font-weight: 500;
  padding: 7px 4px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.084);
}
.red-btn {
  background-color: red;
}
.red-btn:hover {
  background-color: rgb(188, 0, 0);
}

.newslestener {
  color: white;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(70vh - 123px);
  margin-top: 5em;
}
.hero-section-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
span:nth-child(1) {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  max-width: fit-content;
}
span:nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  max-width: fit-content;
}
span:nth-child(3) {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  max-width: fit-content;
}
.email-and-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}
.email-and-btn input[type="email"] {
  width: 60vh;
  height: 56px;
  position: relative;
  z-index: 3;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 7px 4px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #37373d8e;
  margin-right: 12px;
}
.email-and-btn button {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  width: auto;
  height: 56px;
  padding: 8px 16px;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  /* border: 1px solid red; */
  margin: auto;
}
.section-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  width: 47%;
  /* border: 1px solid red; */
}
.section-text > :child {
  font-size: 48px;
  font-weight: 900;
}
.section-text > :nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  margin-top: 16px;
}
.section-tv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47%;
  position: relative;
  /* border: 1px solid red; */
}
.section-tv img {
  position: relative;
  z-index: 3;
  width: 100%;
}
.section-tv video {
  position: absolute;
  width: 75%;
  top: 12vh;
  left: 11vh;
}
.downloadingImg {
  position: absolute;
  bottom: 30px;
  z-index: 4;
  /* width: 47vh; */
  padding: 0px 1em 4px 0px;
  height: 14vh;
  border-radius: 12px;
  background-color: black;
  color: white;
  border: 2px solid gray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* image div */
.downloadingImg > div:nth-child(1) {
  height: 5rem;
  width: 3.5rem;
  background-image: url("assets/images/boxshot.png");
  margin: 0px 15px 0px 14px;
  background-size: contain;
  background-repeat: no-repeat;
}
/* 2nd div */
.downloadingImg > :nth-child(2) {
  width: 23vh;
  margin-left: 24px;
}
.downloadingImg > :nth-child(2) > div:nth-child(1) {
  font-size: 16px;
  font-weight: 500;
}
.downloadingImg > :nth-child(2) > div:nth-child(2) {
  font-size: 16px;
  font-weight: 500;
  color: blue;
}
/* 3rd div */
.downloadingImg > :nth-child(3) {
  width: 10px;
  height: 10px;
  color: blue;
}
.faq-section {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}
.faq-section h1 {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 5vh;
}
.questions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
}
.questions button {
  background-color: #2d2d2d;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 84px;
  /* margin: 16px auto auto auto; */
  padding: 24px;
}
.faq-sec-newslestner {
  width: 80vw;
  height: 102px;
  /* margin: 1px 1px 1px 1px; */
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.final-links {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: rgb(191, 190, 190);
  width: 80vw;
  margin: auto;
  margin-bottom: 5em;
  /* border:1px solid red; */
}
.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5vw;
}
.flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.flex a,
.questions a {
  text-decoration: underline;
  cursor: pointer;
  margin: 0.4em;
  /* width: 12em; */
}
.questions a {
  width: 12em;
}
.location {
  margin-top: 1.4em;
  display: flex;
  flex-direction: column;
}
.location button {
  margin-bottom: 1.4em;
}

@media screen and (max-width: 1279px) {
  .navbar {
    max-width: calc(100%);
    padding: 1px 1rem;
  }
  .section-text {
    align-items: flex-start;
  }
  span:nth-child(1) {
    font-size: 32px;
    font-weight: 700;
    /* text-align: left; */
  }
  .section-text > :nth-child(2) {
    /* text-align: left; */
    font-size: 18px;
  }
  h3 {
    font-weight: 900;
    text-align: center;
  }
}
@media screen and (max-width: 959px) {
  .hero-section {
    height: 60vh;
  }
  .box {
    height: 60vh;
  }
  .newslestener {
    height: auto;
  }
  .email-and-btn button {
    font-size: 19px;
  }

  .links {
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
  }
  .flex a {
    margin-right: 9em;
  }
  span:nth-child(1) {
    font-size: 32px;
    font-weight: 700;
    align-self: center;
  }
  span:nth-child(2) {
    font-size: 18px;
    font-weight: 400;
    align-self: center;
  }
  .section {
    flex-direction: column;
    padding: 1.5em 0;
  }
  .section-text {
    width: 90vw;
  }
  .section-tv,.section-tv vedio,.section-tv img {
    width: 65vw;
    height: 60vh;
  }
  .section-line {
    margin: 3em 0;
  }
  .faq-section h1 {
    font-size: 32px;
  }
  .questions button {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .navbar img {
    margin-left: -1em;
  }
  .hero-section {
    height: 74vh;
    padding: 0 1em;
  }
  .box {
    height: 74vh;
    top: 0;
    right: 0;
  }
  .email-and-btn {
    flex-direction: column;
    gap: 1em;
  }
  .email-and-btn input[type="email"] {
    width: 20em;
    font-size: 12px;
    padding: 0;
    padding-left: 8px;
    height: 3em;
  }
  .email-and-btn button {
    font-size: 12px;
    width: fit-content;
    height: 3em;
    padding: 0 8px;
  }
  .questions button {
    height: 3.5em;
  }
  #line {
    margin: 5em 0 1em 0;
  }
  .section-tv,.section-tv video,.section-tv img  {
    height: 40vh;
    width: 60vw;
  }
  .section-tv video{
    top: 0;
    left: 0;
  }
  .final-links{
    margin: 0;
  }
  .links{
    gap: 0;
  }
  .flex{
    width: 11em;
  }
}
@media only screen and (min-width: 300px) and (max-width: 590) {
  body{
    background-color: red;
  }
}
